.social-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d7daeb;
  background: transparent;
  cursor: pointer;
  gap: 3rem;
  border-radius: 2rem;
  padding: 1rem;
}
